.container-botao{
    display: flex;
    justify-content: flex-end;
}

.botao{
    padding: 15px;
    background-color: rgba(192, 99, 53, 0.449);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin: 8px 12px;
}

.botao:hover{
    color: white;
}